/*=====fonts====*/
@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans-regular.ttf');
}

@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.ttf');
}

/*====reset rule====*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*====footer====*/
footer {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background: #77B6EA;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color:#022245;
}

footer a:hover {
    text-decoration: underline solid #022245;
}

footer a:visited {
    color: #022245;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 15px;
}

.active a {
    text-decoration: underline solid #022245;
}

/*=====nav=====*/
header .logo {
    width: 30%;
    display: inline-block;
    padding: 10px 15px;
}

header nav {
    width: 65%;
    display: inline-block;
    font-weight: bold;
    color: #022245;
}

.menu ul {
    list-style-type: none;
    color:#022245;
    text-align:right;
    padding-bottom: 15px;
}

.menu > ul >li {
    display:inline-block;
    position: relative;
    vertical-align: center;
}

.menu ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline solid #022245;
}

.menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    transition: .3s;
    background:#022245;
    color: white;
    top: 50px;
    width: 200px;
}

.sub-menu {
    display: none;
    color: white;
    border-radius: 5px;
}

.sub-menu a {
    text-align: left;
    margin-top: 5px;
}

.sub-menu a:hover {
    text-decoration: underline solid white;
}

.sub-menu a:visited {
    color: white;
}

a:visited {
    color:#022245;
}

/*====home page====*/
.background-image {
    width: 100%;
    z-index: -100;
}

.home-container {
    max-width: 47%;
    margin: 0 auto;
}

body {
    font-family: 'opensans-regular';
    background: #f4f4f8;
    color: #022245;
    font-size: 15px;
}

h1 {
    font-family: 'lato-bold', sans-serif;
    font-size: 70px;
    text-align: center;
}

h3 {
    font-size: 35px;
}

.job-title {
    font-family: 'lato-bold', sans-serif;
    font-size: 40px;
    text-align: center;
}

.hero-section {
    position: relative;
}

.intro {
    position: absolute;
    top: 316px;
    left: 20px;
    right: 0;
}

.home-container a:hover {
    background: lightskyblue;
    color: #022245;
}

.home-container a {
    text-decoration: none;
    background: #022245;
    color: white;
    padding: 15px;
    margin: 30px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: block;
    max-width: 150px;
    text-align: center;
}

.home-container p {
    font-size: 16px;
}

.graphic-design {
    border: #77B6EA solid 4px;
    color: #022245;
    padding: 20px;
    margin: 15px;
    border-radius: 7px;
    box-shadow: 5px 5px #77B6EA;
}
.right-column {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin: 60px 0px 0px 50px;

}

.graphic-design img {
    display: inline-block;
    width: 20%;
    max-width: 220px;
}

.ux {
    border: #77B6EA solid 4px;
    color: #022245;
    padding: 20px;
    margin: 15px;
    border-radius: 7px;
    box-shadow: 5px 5px #77B6EA;
}

.ux img {
    display: inline-block;
    width: 20%;
    max-width: 128px;
    margin: 10px 50px 0px 40px;
}

.writing {
    border: #77B6EA solid 4px;
    color: #022245;
    padding: 20px;
    margin: 15px;
    border-radius: 7px;
    box-shadow: 5px 5px #77B6EA;
}

.writing img {
    display: inline-block;
    width: 20%;
    max-width: 215px;
    margin: 10px 0px 0px 10px;
}
/*======about page=====*/
.other-header {
    background: #77B6EA;
    padding: 25px;
    margin-bottom: 30px;
}

summary {
    font-size: 45px;
}

.about-container {
    margin: 0 auto;
    max-width: 50%;
}

.about-container p:first-letter {
    font-size: 35px;
    color: #77B6EA;
}

.left-half, .right-half {
    width: 46%;
    display: inline-block;
}

.left-half img {
    width: 500px;
    vertical-align: top;
    margin: 50px 20px;
}

.left-half {
    width: 50%;
}

.right-half {
    vertical-align: top;
    font-size: 20px;
    position: relative;
    top: 290px;
}

.subfooter {
    position: relative;
    top: 70px;
    right: 55px;
    width: 800px;
}

/*======graphic design page=======*/
.gallery img {
    width: 400px;
    padding: 20px;
    vertical-align: middle;
}

.gallery {
    max-width: 50%;
    margin: 0 auto;
}

/*=====writing page=====*/
.writing-container {
    max-width: 30%;
    margin: 0 auto;
    padding-top: 20px;
}

.right-half2 a {
    color: #022245;
    text-decoration: none;
    font-size: 17px;
}

.right-half2 a:visited {
    color: #022245;
}

.right-half2 ul {
    list-style-type: none;
}

.right-half2 {
    vertical-align: top;
    list-style-type: none;
}

.left-half2, .right-half2 {
    width: 46%;
    display: inline-block;
}

.left-half2 {
    width: 500px;
    vertical-align: top;
    margin: 50px 20px;
}

.right-half2 {
    vertical-align: top;
    font-size: 20px;
    position: relative;
    left: 500px;
    bottom: 34px;
}

.subfooter2 {
    position: relative;
    width: 800px;
    right: 60px;
    top: 73px;
    margin-top: 20px;
}
/*======uxd page======*/
.uxd-container {
    max-width: 27%;
    margin: 0 auto;
    padding-top: 20px;
}

.right-half3 a {
    color: #022245;
    text-decoration: none;
    font-size: 17px;
}

.right-half3 a:visited {
    color: #022245;
}

.right-half3 ul {
    list-style-type: none;
}

.right-half3 {
    vertical-align: top;
    list-style-type: none;
}

.uxrd, .right-half3 {
    width: 46%;
    display: inline-block;
}

.uxrd {
    width: 500px;
    vertical-align: top;
    margin: 50px 20px;
}

.right-half3 {
    vertical-align: top;
    font-size: 20px;
    position: relative;
    left: 500px;
    bottom: 78px;
}

.subfooter4 {
    position: relative;
    width: 800px;
    right: 60px;
    top: 73px;
    margin-top: 20px;
}

/*======contact page======*/
.contact-header {
    margin-bottom: 30px;
}

form {
    background: #77B6EA;
    padding: 20px;
    max-width: 800px;
    border-radius: 7px;
    margin: 0 auto;
    box-shadow: #022245;
    font-family: 'opensans-regular';
}

.label_input_wrap {
    display: block;
}

.submit input {
    background: #022245;
    color: white;
    padding: 15px;
    margin: 12px;
    border-radius: 5px;
}

.input-section {
    margin: 10px;
    font-family: 'opensans-regular';
}

textarea {
    font-family: 'opensans-regular';
    padding: 20px;
    border-radius: 5px;
}

input {
    padding: 7px 25px;
    border-radius: 5px;
}

.submit input:hover {
    background: lightskyblue;
    color: #022245;
}

.subfooter3 {
    position: relative;
    width: 800px;
    right: 60px;
    top: 73px;
    margin-top: 20px;
}

/*=======animation======*/
.animation {
    position: absolute;
    left: -500px;
    bottom: 346px;
    animation-name: thanks;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes thanks {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(1930px);
    }
}